{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
   <style>
        p {
            margin: 0 0 10px;
        }
    </style>
{% endblock %}

{% block content %}
<img src="/images/ator.jpg" alt="" style="margin-top: 17px"/>
<h3>25 de MARÇO 19h30</h3>
<h4>TEATRO SESC PALMAS</h4>
<h5>60 minutos de duração</h5>
<br/><p align="justify">
Este espetáculo é um experimento estético e pedagógico que busca uma hibridez entre o fazer teatral e a explicitação dos processos criativos
utilizados nesse fazer. No caso, três conceitos de uma possível proposta para a formação do ator de teatro: o Corpo em Festa, a Imaginação e a
Poesia. Exercitando suas escolhas pedagógicas, cita autores para impulsionar partes de seu corpo e seus centros de energia criativa, tenta 
"explanar cientificamente" o que é uma fada e constrói metodologias de escrita poética advindas do caos apresentando uma cena dramática como
resultado do diálogo entre os três elementos abordados durante o espetáculo.</p><br/>
<p align="justify">
<strong>FICHA TÉCNICA:</strong><br/>
<emph>CRIAÇÃO E ATUAÇÃO:</emph> Marcial Asevedo/ <strong>OPERAÇÃO DE LUZ E SOM:</strong> Andrey Tamarozzi/ <strong>PRODUÇÃO:</strong> Fluxo
Criativo/ <strong>FOTOS:</strong> Graciele Arsego/ <strong>FILMAGEM:</strong> Flaviana Ox. </p> <br/>


<strong>MARCIAL ASEVEDO</strong><br/> <p align="justify">
Ator, Professor, Dramaturgo e Diretor Teatral. É Mestre em Teatro pela Universidade Federal de Uberlândia (UFU) e Bacharel em Teatro pela
Universidade Estadual de Campinas (UNICAMP) com direção de Renato Cohen. Atualmente ocupa o cargo de professor do curso de Teatro da 
Universidade Federal do Tocantins (UFT). Seus diversos trabalhos cênicos exercitam elementos e conceitos das teatralidades contemporâneas. 
Pesquisa a formação do ator a partir da tríade: 1. Corporeidade festiva e libidinosa; 2. Contato com o inconsciente pessoa e coletivo a partir
de práticas xamânicas; 3. A poesia como dramaturgia e exercício crítico sobre a realidade. </p>
<br/>


<a href="https://espetaculoumator.blogspot.com.br"> https://espetaculoumator.blogsport.com.br </a>

{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
