{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
   <style>
        p {
            margin: 0 0 10px;
        }
    </style>
{% endblock %}

{% block content %}
<img src="/images/carousel/BIRDS.jpg" alt="" style="margin-top: 17px"/>    
<p align="justify">
<h3> 23, 24 e 25 de MARÇO Sessões às 14h30, 15h, 15h30, 16h, 16h30, 17h.  </h3>
<h4>CASA SUSSUAPARA – PARQUE CESAMAR  </h4> 
<h5>Sessão para 02 espectadores a cada 30 minutos.</h5>

<p align="right> Ingressos <br/> R$ 20 Inteira  - R$ 10 Meia </p><br/>

<p align="justify">
<strong> AND THE BIRDS FELL FROM THE SKY</strong> é um espetáculo de imersão com óculos de vídeo para 2 pessoas, que combina cinema e
instruções baseadas em autoteatro para converter o público em protagonista principal de uma viagem selvagem em direção ao mundo dos palhaços
Faruk. Anárquico, onírico e perigoso, AND THE BIRDS FEL FROM THE SKY te leva a uma viagem dentro da sua cabeça até os limites da civilização.

<br/>

<strong> IL PIXEL ROSSO</strong> é a combinação de forças criativas entre <emph>Silvia Mercuriali</emph>, artista e criadora da renomada 
companhia internacional de teatro Rotozaza – pioneira do estilo Autoteatro, e o multi-premiado cineasta e artista Simon Wilkinson. Desde 2010,
ambos combinam a estratégia teatral do Autoteatro com cinema para criar espetáculos de imersão que diluem os limites entre a realidade e mundos
virtuais, utilizando técnicas de simulação multi-sensorial. Il Pixel Rosso destorce os sentidos do público gerando um entorno que se sente no
mundo real, mas se vê somente em filme. </p><br/>

<strong> Ficha Técnica </strong>
<br/>
<p align="justify">
<strong>Escrita e dirigida</strong> por Silvia Mercuriali e Simon Wilkinson/ Uma produção de White Night Brighton & Hove/ Com Apoio de
The Arts Council of England/ <strong>Intérpretes:</strong> Pozno - Xelis Del Toro/ Piztu - Silvia Mercuriali/ Hozta - Simon Wilkinson/ Cheego
 - Matt Rudkin/ Laznu - Avis Cockbill/ Prizshtupeh - Sharon Honour Mission/ Karonteh 1 - Lucy Joy/ Karonteh 2 - Joe Kenney/ Karonteh 
3 - Matt Rudkin/ Karonteh 4 - Ulysses Black/ Jogger - Lewis Reid/ le tov gurio de Cheego - Crystal Dave Reid/ <strong>Foto:</strong>
 Joe Murray/ <strong>Tradução</strong> para português do Brasil e voz feminina: Daniela Perez/ Voz masculina: Heitor Oliveira

</p> <br/>

<a href="http://circa69.co.uk/ilpixelrosso.html"> circa69.co.uk/ilpixelrosso.html </a> 
</div>
{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
