{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
   <style>
        p {
            margin: 0 0 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>
         AND THE BIRDS FELL FROM THE SKY...
    </h1>
    <h3>
IL PIXEL ROSSO  (Reino Unido)
    </h3>
<h4> Espetáculo  para dois espectadores de cada vez. </h4>

<h4> 08 sessões por dia – reservas antecipada </h4>
            <img src="/images/carousel/BIRDS.jpg" alt="" style="margin-top: 17px"/>    
    <div class="pure-g">
        <div class="pure-u-3-3" style="padding-left: 10px">
            <p align="justify">
                AND THE BIRDS FELL FROM THE SKY... (e os passáros caíram do céu) combina instruções de autoteatro e filme para colocar a audiência em um espetáculo único e imersivo. Sentado em um banco de carro e equipado com video goggles (óculos com vídeo) e fone de ouvidos, os sentidos da visão, audição e movimento são sequestrados através do espaço e totalmente fundidos com o conteúdo do filme, os participantes seguem as instruções que correspondem aos movimentos de câmera para tornar-se parte da própria ação, para que eles experimentem a peça tanto enquanto público e artistas. À medida que a narrativa se desenrola, a obra de ficção se torna cada vez mais realista através de interações ao vivo, cheiros e sensações físicas.

  
            </p>
            <p align="justify">
               Il Pixel Rosso desafia a distinção entre mundos reais e imaginários. Suas obras mergulham o público em profundas narrativas oníricas, se expressando como personagem principal em um passeio dentro de sua própria cabeça. Il Pixel Rosso é a colaboração entre os artistas Silvia Mercuriali e Simon Wilkinson. Simon Wilkinson é artista que trabalha em AV/performance/ transmídia/instalação/criação de pontes digitais/analógicos entre consenso para reconstruir realidades e obras imersivas. Silvia Mercuriali cria eventos de teatro, instalação, site-specific, teatro experimental e performances de imersão desde 1998. Seu trabalho é impulsionado pelo desejo de explorar novas práticas e continuamente re-inventar e expandir seu processo criativo.
            </p>

            <div class="pure-g">
                <div class="pure-u-1-5">
                    <div class="pure-g">
                        <div class="pure-u-1-5">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="pure-u-4-5">
                            <p>20 minutos</p>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1-5">

                    <div class="pure-g">
                        <div class="pure-u-1-5">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </div>
                        <div class="pure-u-4-5">
                            <p>32 lugares</p>
                        </div>
                    </div>
                </div>
                <div class="pure-u-3-5">
                    <a href="http://circa69.co.uk/ilpixelrosso.html"> circa69.co.uk/ilpixelrosso.html </a> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
