{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
   <style>
        p {
            margin: 0 0 10px;
        }
    </style>
{% endblock %}

{% block content %}
<img src="/images/ciclo.jpg" alt="" style="margin-top: 17px"/>
    <div class="pure-g">
        <div class="pure-u-3-3" style="padding-left: 10px">
            <p align="justify" style="margin-bottom: 0cm; line-height: 100%"> </p>
<p align="center" style="margin-bottom: 0cm; line-height: 108%"><font color="#ffffff"><font size="3" style="font-size: 12pt"><b>R$ 20 inteira R$ 10 meia</b></font></font></p>
<h3> 24 de MARÇO 19h30</h3>
<h4>TEATRO SESC PALMAS</h4>
<h5>50 minutos de duração</h5>
<br/><p align="justify">
Em <emph>NO CICLO ETERNO DAS MUDÁVEIS COISAS (2016)</emph>, uma mulher, apreensiva, espera pela chuva, apenas para ser surpreendida por sua
beleza e efemeridade. Antes que, inevitavelmente, volte a chover, ela irá se deparar com outras sensações e durações. O espetáculo aborda os
ciclos de vida e a necessidade de mudar constantemente para permanecer sendo a mesma pessoa. Apresenta imagens, movimentações, diálogos e 
canções compostas a partir de poemas breves de Fernando Pessoa. </p>
<br/>


<strong>AGULHA CENAS</strong><p align="justify">
É um coletivo de criação artística que tem como meta realizar espetáculos autorais para teatros e espaços adaptados. Desenvolve uma proposta
cênica multilinguagens de caráter lírico, ligada à expressão de estados interiores e à musicalidade da palavra e do movimento. Trabalha com 
materialidades visuais, corporais e sonoras, unindo-as e entrelaçando-as a fim de criar novas texturas cênicas. Cada espetáculo nasce 
gradativamente, ao longo de um processo colaborativo que costura percursos sensoriais e consolida interlocuções com legados culturais 
compartilhados. <br/>
<strong>Agulha Cenas</strong> foi idealizado pela bailarina Renata Oliveira e pelo músico Heitor Oliveira e estabelece parcerias com outros
profissionais e coletivos artísticos para crescimento mútuo e concretização de projetos específicos. Está sediado em Palmas, capital do estado
brasileiro de Tocantins. </p<br/>

<a href="http://agulhacenas.blogspot.com.br/" http://agulhacenas.blogspot.com.br </a>


{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
