{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
   <style>
        p {
            margin: 0 0 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>
         DANÇA CONTEMPORÂNEA E ARTES VISUAIS - POÉTICAS EM APROXIMAÇÃO
    </h1>
<h2> Oficina </h2>
    <h3>
Cláudia Muller (Brasil)
    </h3>
<h2> 08 sessões por dia – reservas antecipada </h2>
            <img src="/images/cartaz/danca_contemporanea.jpg" alt="" style="margin-top: 17px"/>    
    <div class="pure-g">
        <div class="pure-u-3-3" style="padding-left: 10px">
            <p align="justify">
                Oficina teórico-prática abordando as relações entre a dança contemporânea e as artes visuais. A arte conceitual, a arte relacional e a crítica institucional serão abordadas através de alguns artistas (Yves Klein, Marcel Duchamp, Fluxus, The Yes Men, Minerva Cuevas, Dias & Riedweg, Marcia X., entre outros) pela influência de suas propostas na dança contemporânea, especialmente nas últimas duas décadas. Partindo também dos processos artísticos de seus próprios trabalhos (Dança Contemporânea em Domicílio, Fora de Campo, Caixa-Preta e Exhibition), a artista irá levantar questões e oferecer elementos para que os alunos possam desenvolver suas próprias pesquisas. As proposições de cada participante serão abrigadas, experimentadas e discutidas.
            </p>

            <div class="pure-g">
                <div class="pure-u-1-5">
                    <div class="pure-g">
                        <div class="pure-u-1-5">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="pure-u-4-5">
                            <p>6 horas</p>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1-5">

                    <div class="pure-g">
                        <div class="pure-u-1-5">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </div>
                        <div class="pure-u-4-5">
                            <p>20 vagas</p>
                        </div>
                    </div>
                </div>
                <div class="pure-u-3-5">
                    A partir de 18 anos
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
