{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
   <style>
        p {
            margin: 0 0 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <img src="/images/cartaz/danca_contemporanea.jpg" alt="" style="margin-top: 17px" width="1204px" height="500px"/>    
<br/><br/>
<p align="justify">
DANÇA CONTEMPORÂNEA EM DOMICÍLIO propõe “entregar” dança contemporânea em locais onde ela não é esperada, buscando espaços despercebidos,
brechas no cotidiano. Uma dança que se importa menos com movimentos concretos e mais com os espaços imaginários abertos no encontro com o 
espectador - consumidor: qual o lugar deste ofício, como é percebido, quais seus recursos, qual seu alcance, como é remunerado? Qualquer
pessoa pode solicitar gratuitamente Dança Contemporânea em Domicílio em qualquer lugar que queira recebê-la (em sua casa, escritório, loja, 
mercado, em uma praça, no café que freqüenta, etc).
</p>

<strong>CLÁUDIA MÜLLER</strong> é artista-etc com projetos desenvolvidos em dança, performance, vídeo e instalação. Investiga as poéticas e 
políticas do encontro, os modos de visibilidade da dança contemporânea e as relações entre arte e cotidiano. Mestre em Artes pela UERJ (2012).
Professora da Universidade Federal de Uberlândia (UFU). Sua formação artística inclui balé clássico, dança contemporânea e performance. Atuou
em cias. de dança em SP, RJ e na Alemanha (1990 – 2000). Em 2000 começou a desenvolver seus próprios trabalhos, apresentados em festivais e 
centros de arte no brasil (Panorama de Dança/RJ, Mostra SESC de Artes/SP), Argentina (Festival de Danza de Buenos Aires), Chile (Escena 
Doméstica, Festival UARCIS/Santiago), Colômbia (Festival de Danza Contemporánea/Bogotá), Espanha (In-Presentable/Madrid, BAD/Bilbao, La 
Laboral Escena/Gijón, ARTIUM/Vitoria), Marrocos (On Marche/Marraquexe), e Portugal (Festival Alkantara/Lisboa), entre outros. Participou do
programa Encontros 2005-2006 idealizado pelo Al Kantara (Lisboa) e Panorama de Dança, colaborando com a artista espanhola Cristina Blanco; do
programa Abordajes Artísticos (2011), numa colaboração entre o Museo ARTIUM (Vitoria/Espanha) e Azala Espacio de Creación (Lasierra/Espanha) 
e do Lab Migraciones, idealizado por ARTEA e realizado no Matadero e Museo Reina Sofia (Madrid – 2011). Recebeu subsídios do Programa Rumos Itaú Cultural Dança 2006/2007 para a realização do vídeo Fora de Campo e, do mesmo programa, anos 2012/2014, como orientadora da artista Clarissa Sacchelli. Foi contemplada nos editais de Montagem 2008 e 2011 da Secretaria da Cultura do estado do RJ e no FADA 2012 (Fundo de
 Apoio à Dança da Secretaria Municipal de Cultura do RJ).

<a href="http://www.claudiamuller.com/">http://www.claudiamuller.com</a>

</div>
{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
