{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
   <style>
        p {
            margin: 0 0 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>
         KIM KARDASHIAN
    </h1>
    <h3>
BALÉ DA CIDADE  (Palmas/ TO)
    </h3>
    
    <div class="pure-g">
        <div class="pure-u-1-3">
            <img src="/images/cartaz/kim_kardashian.jpg" alt="" style="margin-top: 17px"/>
        </div>
        <div class="pure-u-2-3" style="padding-left: 10px">
            <p align="justify">
             Este é um espetáculo sobre o futuro, ou sobre um possível futuro, ou sobre um futuro no qual já estamos vivendo sem saber. É sobre as ideias utópicas contidas em (e prometidas pelas) tecnologias que oferecem comunicação cada vez mais rápida, conforto cada vez maior, prazer cada vez mais superior. É sobre o sonho (ou o pesadelo) de que um dia as máquinas irão retirar nosso próprio cuidado e responsabilidade (para trabalhar, produzir, limpar-nos e alimentar-nos) gentilmente de nossas próprias mãos. E é sobre perguntar-nos: se este é o futuro ao qual nos dirigimos apressadamente, o que é que faremos uma vez que estejamos vivendo nele. E o quê podem ser nossos corpos para nós mesmos agora – à medida que entregamos cada vez mais de nosso eu mais profundo aos braços amorosos da internet, deixando nossos corpos fora no mundo real, que se assemelha cada vez mais a um tanque de flotação, com ar condicionado e temperatura perfeita – exceto objetos para fotografar?
            </p>
            <p align="justify">
                Em KIM KARDASHIAN tentamos imaginar – de forma gentil, curiosa e sem cinismo, o quê esses novos corpos poderiam ser. E ao imaginar, tentamos aceitar esta nova utopia em seus próprios termos para tentar encontrar alegria e graça em suas próprias condições e possibilidades. Imaginamos corpos libertos de significado e propósito, corpos que deixaram de fazer qualquer tipo de sentido, em êxtase inútil, estranhos e moles e irremediavelmente vivos. Imaginamos o corpo como uma espécie de brinquedo - seu exterior uma obra-prima de texturas e cores, linhas e curvas, hipnotizante em movimento; seu interior uma rede de pulsações infinitas de sensores e nervos. Imaginamos um corpo que não é nem objeto, nem ferramenta, senão um próprio tipo de paraíso para ele mesmo. O tipo de corpo dentro do qual gostaríamos de viver.
            </p>

            <div class="pure-g">
                <div class="pure-u-1-5">
                    <div class="pure-g">
                        <div class="pure-u-1-5">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="pure-u-4-5">
                            <p>1 Hora</p>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1-5">

                    <div class="pure-g">
                        <div class="pure-u-1-5">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </div>
                        <div class="pure-u-4-5">
                            <p>250 lugares</p>
                        </div>
                    </div>
                </div>
                <div class="pure-u-3-5">
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
