{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
   <style>
        p {
            margin: 0 0 10px;
        }
    </style>
{% endblock %}

{% block content %}
<img src="/images/cartaz/kim_kardashian.jpg" alt="" style="margin-top: 17px" widht="1204px" height="500px" align="middle"/>
<br/>
<h3>25 de MARÇO Após intervalo festivo</h3>
<h4>TEATRO SESC PALMAS</h4>
<h5>60 minutos de duração</h5>

KIM KARDASHIAN é o encontro do <strong>BALÉ DA CIDADE</strong> com a cia. internacional <strong>SLEEPWALK COLLECTIVE</strong>. Um espetáculo
jovial, caótico e surreal, cheio de artifícios estranhamente autênticos que lidam diretamente com este século de comunicação massiva que nos
devora vivos.
<br/> <p align="justify">
Este é um espetáculo sobre o futuro, ou sobre um possível futuro, ou sobre um futuro no qual já estamos vivendo sem saber. É sobre as ideias
utópicas contidas em (e prometidas pelas) tecnologias que oferecem comunicação cada vez mais rápida, conforto cada vez maior, prazer cada vez
mais superior. É sobre o sonho (ou o pesadelo) de que um dia as máquinas irão retirar nosso próprio cuidado e responsabilidade (para trabalhar,
produzir, limpar-nos e alimentar-nos) gentilmente de nossas próprias mãos. E é sobre perguntar-nos: se este é o futuro ao qual nos dirigimos 
apressadamente, o que é que faremos uma vez que estejamos vivendo nele. E o quê podem ser nossos corpos para nós mesmos agora – à medida que 
entregamos cada vez mais de nosso eu mais profundo aos braços amorosos da internet, deixando nossos corpos fora no mundo real, que se 
assemelha cada vez mais a um tanque de flotação, com ar condicionado e temperatura perfeita – exceto objetos para fotografar?<br/>

Em Kim Kardashian tentamos imaginar – de forma gentil, curiosa e sem cinismo, o quê esses novos corpos poderiam ser. E ao imaginar,
tentamos aceitar esta nova utopia em seus próprios termos para tentar encontrar alegria e graça em suas próprias condições e possibilidades.
Imaginamos corpos libertos de significado e propósito, corpos que deixaram de fazer qualquer tipo de sentido, em êxtase inútil, estranhos e
moles e irremediavelmente vivos. Imaginamos o corpo como uma espécie de brinquedo - seu exterior uma obra-prima de texturas e cores, linhas e
curvas, hipnotizante em movimento; seu interior uma rede de pulsações infinitas de sensores e nervos. Imaginamos um corpo que não é nem objeto,
nem ferramenta, senão um próprio tipo de paraíso para ele mesmo. O tipo de corpo dentro do qual gostaríamos de viver. <br/>

Sinto que é importante neste momento mencionar que o próprio título da obra não se destina a ser irônico ou satírico ou insincero. Acho Kim
Kardashian genuinamente fascinante porque ela é, talvez, a primeira hiper-celebridade que parece verdadeiramente nativa deste bravo mundo novo.
Seu corpo físico e virtual se fundem com tal fluidez que seu artifício em si mesmo se converte em algo estranhamente autêntico; assim como 
"Kim Kardashian" o personagem, é claramente uma construção, também parece completamente possível que ela seja exatamente assim na realidade.  
<br/>
E tão problemática como alguns aspectos de sua representação e de sua persona pública parecem ser, acredito que não posso desgostar dela. Mais
do que qualquer coisa ela é - e parece ter oferecido a si mesma como - a perfeita tela em branco, na qual podemos projetar nossos medos e 
desejos. Se ´Kim´ tivesse vivido em outro século, talvez houvessem feito uma ópera sobre ela, ou um balé. Assim.Temos feito teatro experimental
por 10 anos, mas esta é a primeira vez que trabalhamos em um espetáculo de dança. Estamos incrivelmente gratos ao Balé da Cidade e à Fundação
Cultural de Palmas por nos convidar para trabalhar neste projeto, e especialmente aos bailarinos por sua extraordinária generosidade e 
paciência nestas últimas semanas. Tem sido toda uma viagem. <br/> </p>

Esperamos que você goste do espetáculo. <br/>
 
Sammy Metcalfe (Sleepwalk Collective)
Escritor e Co-Director

<br/><strong>Ficha Técnica</strong><br/>
<p align="justify"> <strong>BAILARINOS:</strong> Amanda Adelides, Átila Gonçalves, Elton Fialho, Renata Oliveira e Tarleison Souza/ <strong>DIREÇÃO: </strong>Iara Solano Arana
 e Sammy Metcalfe (Sleepwalk Collective)/ <strong>COREÓGRAFO:</strong> Elton Fialho/ DESIGN: Iara Solano Arana/ <strong>TEXTOS:</strong> Sammy Metcalfe/ <strong>COMPOSIÇÃO DE TRILHA SONORA ORIGINAL:</strong> Christofer Brett Bailey e Sammy Metcalfe/<strong>DESIGN DE LUZ:</strong> Alex Fernandes e Sammy Metcalfe/<strong>VOZES:</strong> Daniela Perez (Português), 
Gloria March Chulvi (Valenciano), Haruka Abe (Japonês), Iara Solano Arana (Castelhano), Jess Latowicki (Inglês) e Mala Sofia Pessi (Finlandês)
/ <strong>REALIZAÇÃO:</strong> Fundação Cultural de Palmas – FCP / <strong>AGRADECIMENTOS:</strong> Hector Valente Franco, Luciane De Marque De Bortoli e Eliane Campos. 
</p>
<br/>

<p align="justify"> Criado em agosto de 2015, o BALÉ DA CIDADE é uma companhia que cria obras coreográficas originais explorando mecanismos 
estéticos e formas de visibilidade multidisciplinares. Seus trabalhos mesclam dança, texto, vídeo, som e elementos cênicos para encarnar seu 
olhar amplo e complexo sobre a paisagem que nos rodeia. Kim Kardashian é seu segundo espetáculo.
</p>


<a href="https://baledacidadeto.wixsite.com/balepmw"> Conheça o site:  Balé da cidade </a>


    </div>
{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
