{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
   <style>
        p {
            margin: 0 0 10px;
        }
    </style>
{% endblock %}

{% block content %}
<section id="banner">
<div class="content">
<img src="/images/cartaz/medelei.jpg" alt="" style="margin-top: 17px" width="1204px" height="500px"/>

<br/><br/>
<h3>26 de MARÇO 19h30</h3>
<h4>TEATRO SESC PALMAS</h4>
<h5>60 minutos de duração</h5>
<p style="justify">
O espetáculo toma por ponto de partida o slogan 'Eu sou brasileiro e não desisto nunca' da campanha publicitária realizada para o governo
e veiculada na televisão brasileira em 2004. O grupo questiona o apelo emocional moralista contido no slogan citado e a própria noção de
nacionalismo, propondo discutir a famigerada ideia do corpo como suporte. Para isso desafia o elenco a exercitar sua adaptabilidade a 
diferentes referências culturais na mesma velocidade com que se troca de estação de rádio. E desafia a plateia a consolidar uma noção de 
"ser brasileiro" nos 60 minutos de duração do espetáculo. Escrito por Fabiana Dultra Britto, 2006.
</p>
<br/> <strong>Ficha Técnica</strong><br/>
<p style="justify">
<strong>CONCEPÇÃO E DIREÇÃO</strong>: Cristian Duarte/ <strong>CRIAÇÃO E PERFORMANCE:</strong> Cristian Duarte, Sheila Arêas, Tarina Quelho e
 Eros Valério/ <strong> ILUMINAÇÃO:</strong> André Boll/ <strong>EDIÇÃO DA TRILHA:</strong> Cristian Duarte/ <strong>MÚSICA AO VIVO:</strong>
 Tarina Quelho/ <strong>FIGURINO:</strong> o grupo/ <strong>FOTOGRAFIA:</strong> Gil Grossi, Rogério Ortiz/ <strong>CONSULTORIA TEÓRICA:</strong> Fabiana Dultra Britto/ <strong>APOIADORES NO ANO DE CRIAÇÃO (2006): </strong>Balé da Cidade de São Paulo, Estúdio 
Odisseia e Estúdio Nova Dança. Espetáculo contemplado pelo Prêmio Estímulo de Dança – 2005 da Secretaria de Estado da Cultura – Governo do
 Estado de São Paulo; e pelo Prêmio Funarte Petrobras de Fomento à Dança – Lei de Incentivo à Cultura – Governo Federal/ APOIO EM 2016-2017:
 Lote, Casa do Povo e 21º Edição do Programa Municipal de Fomento à Dança para a cidade de São Paulo. </p>


<p style="justify"> <strong>CRISTIAN DUARTE</strong> é coreógrafo, diretor e bailarino que vive e trabalha em São Paulo. Seu trabalho como
 coreógrafo tem sido apresentado no Brasil e internacionalmente. Entre eles estão Ó (2016), Biomashup (2014), The Hot One Hundred 
Choreographers (2011), Médelei - Eu Sou Brasileiro (etc) e não existo nunca (2006), Embodied (2003), Pressa (1998). Em 2015 criou 
Against the Current, Glow (2015) para o Cullberg Ballet em Estocolmo/Suécia, onde foi também professor e coreógrafo convidado pela DOCH 
- University of Dance and Circus em 2013 e 2015. Treinou em São Paulo com Estúdio e Cia Nova Dança entre 1995 e 2000. 
Graduou-se em 2002 na P.A.R.T.S. Performing Arts Research and Training Studios, escola dirigida pela coreógrafa belga Anne Teresa de 
Keersmaeker em Bruxelas. Foi cocriador das plataformas Desaba com Thelma Bonavita e A piece...together? com Paz Rojo. Desde 2011 desenvolve,
com subsídio do Programa Municipal de Fomento à Dança para a cidade de São Paulo, a residência artística LOTE - um contexto que tem por 
princípio estimular práticas de trabalho compartilhado e a experimentação em dança, além de ser cosmo fundamental para a continuidade da sua
ação coreográfica. Sua produção tem sido reconhecida pelos principais prêmios de dança no Brasil. </p>

      

<a href="http://www.cristianduarte.net"> Conheça o site </a>

</div>
 

{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
