{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
   <style>
        p {
            margin: 0 0 10px;
        }
    </style>
{% endblock %}

{% block content %}
 <img src="/images/cartaz/piranha.jpg" alt="" style="margin-top: 17px" widht="1204px" height="500px"/>
<br/>
23 de MARÇO Após palestra com Ricardo Basbaum <br/>
TEATRO SESC PALMAS <br/>
45 minutos de duração <br/>
<strong>Prêmio APCA Melhor Projeto Artístico.</strong> <br/>
<p align="justify"> 
A reclusão voluntária é um tema presente na história de várias religiões e, também, na forma de vida de certos intelectuais, artistas e 
pesquisadores. A reclusão involuntária pode ser contextualizada no campo da loucura, da exclusão social, ou dos acidentes ambientais. 
A piranha é um peixe carnívoro de água doce dos rios da América do Sul. Sua principal característica é viver em bando. Na época das chuvas,
na bacia amazônica ou em rios do pantanal, as águas chegam a invadir quilômetros de terra, formando pequenos lagos sazonais em que muitas 
piranhas ficam aprisionadas. Piranha é a metáfora de um corpo em reclusão. Ele se agita nevralgicamente, entre uma dinâmica voluntária e 
involuntária, sitiado por uma composição de ruídos digitais. O fluxo de movimento que se enreda sob um feixe de luz desdobra, em seu 
próprio corpo e no espaço cênico, as variações sutis de uma rave, de uma guerra, de uma possessão, de um susto, de uma morte. 
</p> 

WAGNER SCHWARTZ - Nascido em Volta Redonda, Rio de Janeiro, em 1972, seus trabalhos coreográficos são fortemente influenciados pela literatura. Cada qual problematiza as experiências do estrangeiro entre línguas, culturas, cidades e instituições através de um procedimento definido como "dramaturgia da migração". Schwartz trabalha com dança contemporânea e vale-se dos modos de composição de texto, som e imagem para fazer visível a fisicalidade de seus experimentos. Selecionado pelo Rumos Itaú Cultural Dança em 2000/2001, 2003/2004, 2009/2010 e 2014, seus projetos têm sido estudados em publicações dentro e fora do Brasil, como no livro O fazer-dizer do corpo: dança e performatividade, de Jussara Sobreira Setenta (Salvador: Ed. da UFBA, 2008) ou Am Rand der Körper: Inventuren des Unabgeschlossenen im zeitgenössischen Tanz (À borda do corpo: inventários da dança contemporânea inacabada), de Susanne Foellmer (Berlin: Transcript, 2009). Na França, criou peças em colaboração com Rachid Ouramdane e Yves-Noël Genod. Vive e trabalha em São Paulo e Paris.



<br/>
<a href="http://www.wagnerschwartz.com"> http://www.wagnerschawrtz.com </a>
    </div>
{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
