{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
   <style>
        p {
            margin: 0 0 10px;
        }
    </style>
{% endblock %}

{% block content %}
<section id="banner">
	<div class="content">
	 <img src="/images/carousel/RICARDO.jpg" alt="" style="margin-top: 17px"/>
<h2>O CIRCUITO DE ARTE E SUAS MEDIAÇÕES:</h2>
   <h4>Exercícios, aproximações e zonas de contato</h4>
<h4>23 de Março às 20 horas</h4>
<h5> Local: Teatro SESC </h5> <br/>
<p align="justify">Nesta apresentação serão discutidos alguns aspectos das estruturas de mediação que constituem o circuito de arte contemporânea,
destacando aqueles que envolvem relações de participação e contato, de modo amplo. A partir do desenvolvimento de práticas de ação e
 intervenção no campo da arte contemporânea, tornou-se necessário demarcar zonas de contato com um território identificado
como bioconceitual, em que traços da arte conceitual e do conceitualismo se articulam a elementos de configuração biopolítica, presentes
nas formações do circuito de arte em seu processo de reorganização, em curso desde as últimas décadas do século XX: ao mesmo tempo em que
se percebe as mutações da arte contemporânea e seu circuito institucional – efeitos da macroeconomia neoliberal sobre o sistema de arte – é
preciso considerar a ação de artistas e intelectuais no redesenho de discursos poético-teórico-críticos atentos ao valor do encontro
entre sujeito fruidor e obra de arte. </p>

<h1> RICARDO BASBAUM </h1>

<p align="justify"> São Paulo, 1961. Vive e trabalha no Rio de Janeiro. Artista e escritor, participa regularmente de exposições e projetos desde 1981.
Exposições individuais recentes incluem the production of the artist as collectiveconversation (Audain Gallery, Vancouver), nbp-etc:
escolher linhas de repetição (Galeria Laura Alvim, Rio de Janeiro), Diagramas (Centro Galego de Arte Contemporánea, Santiago de Compostela, 201$
e re-projecting (london) (The Showroom, Londres, 2013). Participou da documenta 12 (2007), da 20ª Bienal de Sydney (2016), da 30ª e 25ª
Bienal de São Paulo (2012, 2002) e de The School of Kiev (2015), entre outros eventos. Em 2015 desenvolveu projeto para It Might be Possible
that the World Itself is Without Meaning* - Performances, actions, and interventions in urban space (Stadtkuratorin, Hamburgo). Curador de
Mistura + Confronto (Central Electrica do Freixo, Porto, 2001) e co-curador do Panorama da Arte Brasileira (MAM-SP, 2001),
On Difference #2 (Kunstverein Stuttgart, 2006) e pogovarjanja/conversations/conversas (Skuc Gallery, Ljubljana, 2006).
Co-editor da revista item (1995-2003) e co-diretor da agência Agora (1999-2003, Rio de Janeiro). Sua produção de diagramas está reunida no
livro Diagrams, 1994 – ongoing (Errant Bodies Press, 2016). Autor de Manual do artista-etc (Azougue, 2013), Ouvido de corpo, ouvido de grupo
(Universidade Nacional de Córdoba, 2010) e Além da pureza visual (Zouk, 2007). Trabalhou como Professor do Instituto de Artes da Universidade
do Estado do Rio de Janeiro de 1998 a 2016. Professor Visitante da Universidade de Chicago entre outubro e dezembro de 2013. Artista Residente
da Audain Gallery (Vancouver) em outubro de 2014. Atualmente é Professor do Departamento de Artes da Universidade Federal Fluminense. </p>

<a href="https://www.escritoriodearte.com/artista/ricardo-basbaum/"> Ricardo Basbaum </a>

    <div class="pure-g">
        <div class="pure-u-3-3" style="padding-left: 10px">

        </div>
    </div>
{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
