{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
   <style>
        p {
            margin: 0 0 10px;
        }
    </style>
{% endblock %}

{% block content %}
<section id="banner">
	<div class="content">
	<h1>
        Ricardo Basbaum
    </h1>
    <h3>
        Seminário
    </h3>
    <p>
        (Rio de Janeiro/Brasil)
    </p>
            <img src="/images/carousel/RICARDO.jpg" alt="" style="margin-top: 17px"/>
    <div class="pure-g">
        <div class="pure-u-3-3" style="padding-left: 10px">


            <p align="justify">
A definir
</p>

         


            <div class="pure-g">
                <div class="pure-u-1-5">
                    <div class="pure-g">
                        <div class="pure-u-1-5">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="pure-u-4-5">
                            <p>1 Hora</p>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1-5">

                    <div class="pure-g">
                        <div class="pure-u-1-5">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </div>
                        <div class="pure-u-4-5">
                            <p>250 lugares</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
