{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
   <style>
        p {
            margin: 0 0 10px;
        }
    </style>
{% endblock %}

{% block content %}
<section id="banner">
	<div class="content">
	<h1>
        Suely Rolnik
    </h1>
    <h3>
        Seminário
    </h3>
    <p>
        (São Paulo/Brasil)
    </p>
            <img src="/images/carousel/SUELY.jpg" alt="" style="margin-top: 17px"/>
    <div class="pure-g">
        <div class="pure-u-3-3" style="padding-left: 10px">


            <p align="justify">
Suely Rolnik é psicanalista, crítica de arte e cultura, curadora, Professora Titular da PUC-SP e, desde 2007, docente convidada do Programa de Estudios Independientes do Museu de Arte Contemporáneo de Barcelona. Em 2008, foi docente convidada do Master Oficial em Historia del Arte Contemporáneo y Cultura Visual, Universidad Autónoma de Madrid e Museo Nacional Centro de Arte Reina Sofía e pesquisadora convidada pela Fondation de France, no Institut National de l'Histoire de l'Art. Viveu exilada em Paris de 1970 a 1979 onde graduou-se em Filosofia e Ciências Sociais na Université de Paris VIII, e fez graduação, mestrado e DESS em Ciências Humanas Clínicas na Université de Paris VII. Doutorou-me em Psicologia Social pela PUC-SP, em 1987.
</p>

            <p align="justify">
Sua investigação enfoca as políticas de subjetivação em diferentes contextos, abordadas de um ponto de vista teórico transdisciplinar e indissociável de uma pragmática clínico-política. Desde os anos 1990, atua sobretudo no campo da arte contemporânea.
</p>


            <p align="justify">
É membro fundador da Rede Conceitualismos do Sul, composta de 50 investigadores latino-americanos. Autora, entre outros, de Manifeste Anthropophage / Anthropophagie Zombie (Paris: Black Jack éditions, 2012), Archivmanie (Berlim: HatjCantz/Documenta 13, 2011), de Cartografia Sentimental. Transformações contemporâneas do desejo (Estação Liberdade, 1989; 2a Ed. Sulinas, 2006, 5a Ed. 2011) e, em colaboração com Félix Guattari, de Micropolítica. Cartografias do desejo (Vozes, 1986, 11a ed. 2011), cuja 7ª ed. revista e ampliada (2005) foi publicada em 7 países. Editora convidada de números especiais das revistas de arte Zehar (no. 51, Espanha, 2003) e Parachute (no. 116, Canadá, 2004). É autora de 80 ensaios, publicados em livros, revistas de arte e cultura e catálogos, em vários países, totalizando mais de 250 publicações. Tradutora, entre outros, dos Vol. III e IV de Mille Plateaux, de Deleuze e Guattari (Ed.34, 1997). Criadora do Arquivo para uma obra-acontecimento, projeto de pesquisa e ativação da memória corporal das proposições artísticas de Lygia Clark e seu contexto, no qual realizou 65 filmes de entrevistas no Brasil, na França, na Inglaterra e nos EUA. O Arquivo foi escolhido como um dos 10 melhores projetos de arte contemporânea de 2011 em âmbito internacional (Art Fórum, NY, Dec. 2011, The Best of 2011).
</p>


            <div class="pure-g">
                <div class="pure-u-1-5">
                    <div class="pure-g">
                        <div class="pure-u-1-5">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="pure-u-4-5">
                            <p>1 Hora</p>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1-5">

                    <div class="pure-g">
                        <div class="pure-u-1-5">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </div>
                        <div class="pure-u-4-5">
                            <p>250 lugares</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
