{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
   <style>
        p {
            margin: 0 0 10px;
        }
    </style>
{% endblock %}

{% block content %}
<section id="banner">
	<div class="content">
	<img src="/images/carousel/SUELY.jpg" alt="" style="margin-top: 17px"/>
<br/> <br/>
    <h4> O PENSAMENTO COMO IMAGINAÇÃO CRIADORA   </h4>
    <h4> Uma micropolítica para resistir ao insconsciente colonial-capitalístico </h4>
<h5> 19 de Março às 19 horas </h5>

<h5> Local: Theatro Fernanda Montenegro </h5>
            
<p align="justify"> Com a noção de 'imaginação criadora' pretende-se problematizar a política dominante de produção do pensamento na cultura moderna ocidental, própria de um certo tipo de produção
da subjetividade e do desejo, a qual origina-se ao mesmo tempo que a economia capitalista e a empresa de colonização e de trabalho escravo, sendo delas inseparável. Trata-se de uma
micropolítica antropo-falo- ego-logocêntrica: ela opera pela obstrução do acesso aos efeitos das forças do mundo em nosso corpo, confinando-nos em seu imaginário. Tal bloqueio do
saber-do- corpo nos torna surdos às demandas da vida para que se crie deslocamentos dos modos de existência que a sufocam. Com diferentes desdobramentos e derivas ao longo da
história, este regime cultural, econômico e subjetivo atualiza-se hoje na figura do capitalismo financeirizado que, por meio do estado neoliberal e da velocidade das inovações tecnológicas,
conseguiu colonizar o conjunto do planeta, eliminando violentamente toda e qualquer barreira a seu poder. Isto nos lança numa situação de extrema gravidade, impossível de ser decifrada
se insistirmos numa abordagem exclusivamente macropolítica que, embora essencial, é insuficiente. Impõe-se a exigência de driblar o inconsciente colonial-capitalístico, ativando o
saber-do- corpo como instrumento de decifração do presente e bússola ética a orientar as ações do desejo. Esta é condição incontornável para sairmos da perplexidade e da impotência
em direção a ações de imaginação criadora que interfiram efetivamente na lógica que rege o atual estado de coisas e quebrem o feitiço de seu imaginário tóxico. As práticas artísticas em
suas diversas áreas são um campo fecundo de aprendizado de como enfrentar esta exigência.
</p>

<h1> SUELY ROLNIK </h1>

<p align="justify"> Psicanalista, escritora, curadora, professora titular da PUC-SP e professora convidada do Programa de

Mestrado do Museo de Arte Contemporánea de Barcelona, Espanha. Dedica-se à investigação de

políticas do desejo, de uma perspectiva teórica transdisciplinar, indissociável de uma pragmática clínico-

política, privilegiando a arte como campo de atuação nos últimos vinte anos. Autora de A hora da

Micropolítica (SP:N-1, 2016), Anthropophagie Zombie (Paris:Black Jack, 2012), Archivmanie (Documenta

12, 2011); Cartografia Sentimental (Porto Alegra: Sulinas, 1989) e co-autora com Félix Guattari de

Micropolítica. Cartografias do Desejo (Petrópolis: Vozes, 1986), publicado em 8 países. Seus ensaios vem

sendo publicados internacionalmente em livros, revistas de arte e de cultura e catálogos de exposições.

Participa do debate internacional com conferências e oficinas em vários países. Concebeu e realizou o

Arquivo para uma Obra-Acontecimento. Projeto de ativação da memória do corpo das proposições

artísticas de Lygia Clark e seu contexto (65 filmes e entrevistas) e foi curadora da exposição Somos o

molde. A você cabe o sopro. Lygia Clark, do objeto ao acontecimento (Musée de Beaux-arts de Nantes,

2005, e Pinacoteca do Estado de São Paulo, 2006). </p>

<a href="http://www.pucsp.br/nucleodesubjetividade/suely%20rolnik.htm"> Suely Rolnik </a>
    <div class="pure-g">
        <div class="pure-u-3-3" style="padding-left: 10px">
        </div>
    </div>

    <div class="pure-g">
          <div class="pure-u-1-5">
              <div class="pure-g">
                  <div class="pure-u-1-5">
                                       </div>
                  <div class="pure-u-4-5">
                     
                  </div>
              </div>
          </div> <!--
          <div class="pure-u-1-5">
              <div class="pure-g">
                  <div class="pure-u-1-5">
                      <i class="fa fa-users" aria-hidden="true"></i>
                  </div>
                  <div class="pure-u-4-5">
                      <p>250 lugares</p>
                  </div>
              </div>
          </div> -->
      </div>

{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
