{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
   <style>
        p {
            margin: 0 0 10px;
        }
    </style>
{% endblock %}

{% block content %}
<img src="/images/SIRENS.jpg" alt="" style="margin-top: 17px"/>
<h3>24 de MARÇO Após intervalo festivo</h3>
<h4>Teatro SESC Palmas</h4>
<h5>60 minutos de duração</h5>
<br/><emph>
PRÊMIO: Melhor Espetáculo, BE Festival 2011, Birmingham, Reino Unido.
PRÊMIO: Melhor Intérprete, BE Festival 2011, Birmingham, Reino Unido.
PRÊMIO: Melhor Atriz, Festival Skena Up 2011, Pristina, Kosovo.
PRÊMIO: Melhor Direção, Festival ACT 2010, Bilbao, Espanha.
NOMINAÇÃO: Total Theatre Awards, FRINGE Festival 2011, Edimburgo.
</emph>
<br/>
<p align="justify">
Em uma hora de intimidade perigosa, <strong>Sleepwalk Collective</strong> recorta e reproduz a iconografia de filmes série B e cinema antigo,
na tentativa desesperada de transformar estes clichês culturais e cinematográficos em algo profundo e comovedor. Partindo de uma inspiração 
inicial da clássica representação de “dama em apuros” e “la femme fatale”, a peça reflete nossa relação com o trauma e a catástrofe e nosso 
desejo de ser resgatados. Tentador e hipnótico, o espetáculo mescla um desejo poético com uma magnética paisagem sonora, cenários sutis e 
surrealistas, e uma negociada e sempre mudança de relação entre o espectador e a intérprete.</p> </br>

<p align="justify"> <strong>THE SIRENS</strong> é uma viagem em direção ao coração da cultura pop dos séculos XX e XI, uma busca atormentada
cheia de prazeres inesperados e otimismo imprevisto. <strong>THE SIRENS</strong> é sobre mim e sobre ti, e sobre a estranha e as vezes 
aterradora conexão que cresce entre nós.</p>

<br/><p align="justify">
<emph> SLEEPWALK COLLECTIVE</emph> é uma premiada companhia internacional de arte ao vivo e teatro experimental que cria íntimas experiencias
cênicas entre Espanha e Reino Unido. A Companhia, cria peças originais para teatros e espaços alternativos que emergem da fascinação que
sentem seus membros pela cultura popular e as complexidades das relações com o outro. Suas peças são emotivas e sensoriais e estão definidas
por uma estética minimalista com um toque sedutor e perigoso. Fundada em Londres em 2006, a companhia já apresentou seus trabalhos em países
como Austrália, Alemanha, França, Portugal, Itália, Holanda, Austria, Kosovo e Bosnia &Herzegovina, formando parte da programação de prestigios
os festivais e teatros como The Barbican (Londres), o Festival Internacional de Sydney, Escena Contemporánea en Madrid,  Festival de Edimburgo,
MESS de Sarajevo e o Festival de Avignon. </p>
<br/>


<strong>FICHA TÉCNICA:</strong> <br/>
<strong>CRIAÇÃO:</strong> Sleepwalk Collective/<strong> DIREÇÃO:</strong> Samuel Metcalfe/ <strong>INTERPRETAÇÃO:</strong> Iara Solano/ 
<strong>TRILHA SONORA ORIGINAL:</strong> Samuel Metcalfe y Esme Squalor.


<br/> <a href="http://www.sleepwalkcollective.com"> http://www.sleepwalkcollective.com </a>

{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
