{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
  <!-- css -->
{% endblock %}

{% block content %}
<p align="center"><strong>BATE-PAPO EXPANDIDO</strong></p>

<p align="center"><strong>Conversa com os artistas integrantes da programação do I FICE </strong></p>

<p align="center"> </p>

<p>Com objetivo de trocar informações sobre o processo de criação dos espetáculos apresentados no I FICE, os artistas integrantes da programação 2017, realizam um bate-papo para falar de seu trabalho, suas pesquisas artísticas e o contexto na qual elas se desenvolvem. Reunindo a diversidade da produção artística contemporânea, te convidamos a participar de um diálogo intercultural, contrastando linguagens e modos de fazer e pensar arte. Te esperamos!</p>

<p> </p>

<p><strong>24 de março</strong></p>

<p>16h30 às 17h30 – Local: Sala de Dança Espaço Cultural José Gomes Sobrinho</p>

<p>Bate-papo Expandido com Wagner Schwartz (Brasil/França)</p>

<p> </p>

<p><strong>25 de março</strong></p>

<p>18h às 19h – Local Teatro SESC Palmas</p>

<p>Bate-papo Expandido com Cláudia Müller (RJ) e Cristian Duarte em companhia (SP)</p>

<p> </p>

<p><strong>26 de março</strong></p>

<p>17h30 às 19h – Local Teatro SESC Palmas</p>

<p>Bate-papo Expandido com Sleepwalk Collective (Espanha/Reino Unido), Balé da Cidade (TO), Marcial Asevedo (TO), Il Pixel Rosso (Itália Reino Unido) e Agulha Cenas (TO)</p>

{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
