{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
<style>
#body{
  padding-left: 4rem;
  padding-right: 4rem;
}
</style>
{% endblock %}

{% block content %}
<h1>CALENDÁRIO I FICE</h1>
<h2>MARÇO 2017</h2>
  <img type="image/jpg"  class="pure-img" src="/images/calendario.jpg" style=""/>
{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
