{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
  <!-- css -->
{% endblock %}

{% block content %}
    <p>
      <a target="_blank" href="/pdfs/convocatoria-espetaculos.pdf"> <strong> Edital </strong> </a>
    </p>
    <iframe width="100%" height="1000px" src="http://www.fice.art.br/convocatorias/index.php/583283" frameborder="0" allowfullscreen>
    </iframe>
{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
