{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
  <!-- css -->
{% endblock %}

{% block content %}
     <h3>
         <a href="/convocatoriasfice">Convocatória Pública Municipal para Seleção de Espetáculos de Dança, Teatro e
             Performance - Palmas/TO</a>
     </h3>
     <h3>
         <a href="/voluntarios">Convocatória Pública para Seleçãode Voluntários para trabalhar no Festival Internacional
             Corpo Expandido – FICE /PALMAS - TO
         </a>
     </h3>
{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
