{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
  <!-- css -->
{% endblock %}

{% block content %}
<h1> CORPO EXPANDIDO </h1>
  <p align="justify">
	Se apropriando do conceito expandido nas artes para atribuir uma nova significação, o Festival Internacional Corpo Expandido focaliza no campo amistoso das relações que o artista trava com seu entorno no processo criativo. A potência criadora se destaca como um modo, talvez o único modo sano, de driblar as imposições do mundo - cada vez mais caótico e incompreensível, na busca incessante de comunicação e criação de sentido de vida.
<br/> </p>
      <p align="justify">
Impulsionado por fricções interiores e exteriores de seu contexto, estes corpos se convertem em emissores de suas propostas criativas expandindo-se a outros corpos, que por sua vez, permitem-se ser os receptores e amplificadores da experiência sensível.
Alargando a discussão em torno do tema, o Festival propõe considerar cada artista-criador inserido na programação como um corpo expandido, um corpo que re-úne seu contexto, re-aciona socialmente e re-flete seu pensamento, expandindo-se a outros corpos.
</p>
      <p align="justify">
O termo expandido, foi citado primeiramente por Sheldon Renan em 1967, que denominou um novo modo de fazer cinema. Em 1970, Gene Youngblood publica Expanded Cinema e mais tarde em 1979, Rosalind Krauss apresenta o conceito de campo expandido na escultura. A partir de Krauss, a terminação expandida passa a ser cada vez mais aplicada a trabalhos que ultrapassam suas próprias convenções, reconfiguram seus próprios códigos e reinventam modos de uso de seus materiais e dispositivos.
</p>
      <p align="justify">
Nesse processo, os elementos que classificam determinada linguagem artística, são amplificados e as fronteiras que delimitam os campos são borradas a favor da proposição. O termo também é associado a trabalhos experimentais e multissensoriais, que visam ativar ou alterar o estado de consciência e percepção do corpo do espectador.
Propostas expandidas, buscam explorar as relações com o movimento do pensamento, do corpo e da imaginação. São obras geradas a partir de acontecimentos lúdicos, baseados em encontros e experiências.
</p>
      <p align="justify">
O Festival Internacional, vem dar visibilidade a diversidade do território expandido, examinando-o em toda sua complexidade. Seja na utilização do corpo como dispositivo em arte, na apropriação ou reconfiguração de elementos visuais, textuais ou tecnológicos -  que prolonguem o estado de presença do corpo do artista ou mesmo do espectador, o corpo expandido busca modos de comunicar, se reinventar, subverter, compreender e assimilar o mundo atual.
</p> 
<h4> Daniela Perez</h4><br/>
Diretora Artística e Curadora do FICE

{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
