{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
  <!-- css -->
{% endblock %}

{% block content %}
  <h1>Faveira Agência de Comunicação</h1>
  <h4>Telefone: (63) 99223-1616 - 99239-0385</h4>
  <h4>E-mail: faveiracomunicacao@gmail.com.br</h4>
{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
