{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
  <!-- css -->
{% endblock %}

{% block content %}
      
<h1> Ingressos </h1>
      <p align="justify">

<h2>23 de MARÇO</h2> 
20hs Teatro SESC Palmas<br/>
Entrada Franca 
</p>

<h2> 24, 25 e 26 de MARÇO </h2>
      <p align="justify">

INGRESSOS A VENDA NA BILHETERIA DO TEATRO SESC PALMAS:

Passaporte<br/>
*entrada livre em todos espetáculos<br/>
R$ 50 INTEIRA   R$ 25 MEIA <br/>

Por noite do Festival <br/>
*Pack 02 espetáculos <br/>
R$ 20 INTEIRA   R$ 10 MEIA <br/> 
</p>
      <p align="justify">

<h2> Obra de imersão </h2>
AND THE BIRDS FELL FROM THE SKY... <br/>
R$ 20 INTEIRA   R$ 10 MEIA
</p>
{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
