{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
  <!-- css -->
{% endblock %}

{% block content %}
      
<h1> Ingressos </h1>
<p align="center">19 e 23 de março</p>

<p align="center">Entrada Franca</p>

<p align="center"> </p>
<br/> <br/>
<p align="center"><strong>24, 25 e 26 de MAR</strong><strong>Ç</strong><strong>O</strong></p>

<p align="center"><strong>INGRESSOS ANTECIPADOS NA LOJA BRINQUELANDIA</strong></p>

<p align="center"> </p>

<p align="center"><strong>NAS NOITES DO ESPETÁCULO INGRESSOS À VENDA NA BILHETERIA DO TEATRO SESC PALMAS</strong></p>

<p align="center"> </p>

<p align="center">R$ 20 INTEIRA   R$ 10 MEIA</p>

<p align="center">*Pack 02 espetáculos</p>

<p align="center"> </p>
<br/> <br/>
<p align="center"><strong>PASSAPORTE </strong></p>

<p align="center">*entrada livre em todos espetáculos</p>

<p align="center">R$ 50 INTEIRA   R$ 25 MEIA</p>
<br/> <br/>
<p align="center"> </p>

<p align="center"> </p>
<br/> <br/>
<p align="center"><strong>Obra de imers</strong><strong>ã</strong><strong>o </strong></p>

<p align="center"><em>AND THE BIRDS FELL FROM THE SKY...</em></p>

<p align="center">R$ 20 INTEIRA   R$ 10 MEIA</p>
    


{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
