{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
  <link rel="stylesheet" href="/css/programacao.css">
{% endblock %}

{% block content %}

  <h1>OFICINAS</h1>

  <h3>Palmas - TO</h3>

  <div>
      <section class="tiles">
          <article style="width: calc(100% - 2.5em);">
              <span class="image">
                  <img src="/images/carousel/DANCA.jpg"alt=""/>
              </span>
              <a href="programacao/danca"> </a>
          </article>
                </section>
  </div>
{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
