{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
  <link rel="stylesheet" href="/css/programacao.css">
{% endblock %}

{% block content %}

  <h1>OFICINAS</h1>

    <div>
      <section class="tiles">
   <p align="center"><strong>OFICINAS I FICE  </strong></p>

<p align="center"><strong>INSCRIÇÕES DE 14 À 19 DE MARÇO</strong></p>

Para se inscrever, envie um e-mail a <a href="mailto:ficebrasil@gmail.com" target="_blank">ficebrasil@gmail.com</a> até o dia 19 de março,
 com seu nome completo, telefone, idade e oficina a qual deseja participar. Conte-nos sobre você e seu interesse em realizar a oficina.
 No dia 21 de março entraremos em contato com você respondendo sobre a sua inscrição. Caso o número de inscrições ultrapasse o número de vagas,
 realizaremos uma seleção a partir das informações que você nos enviou por e-mail.

<p><strong>OFICINA INTERNACIONAL DE CRIAÇÃO CÊNICA COM <em>SLEEPWALK COLLECTIVE</em> (Espanha/Reino Unido)</strong></p> 
 
Esta oficina visa explorar ideias e estratégias extraídas das experiências de Iara Solano e Sammy Metcalfe, como criadores de peças hipnóticas
e rompedoras de disciplinas, que atravessam culturas e linguagens. A oficina é centrada na prática DIY (Do It Yourself), para desenvolver
textos, movimentos e coreografías em uma variedade de suportes e formatos. Para criar material para contextos teatrais e de dança, 
convencionais, site-specific ou em formato vis-a-vis (um-a-um). 
O objetivo desta oficina é introduzir e contextualizar uma série de exercícios práticos e flexíveis que são utilizados pelos artistas 
para criar seus trabalhos, aplicáveis a uma grande  variedade de formatos e estilos cênicos.
</p>
<br/><br/> Público Alvo: Artistas profissionais, professores e estudantes das áreas de teatro, performance e dança.<br/>



Carga horária: 4hs. 20 VAGAS – Gratuito. <br/>

Data:  22 de março <br/>

Hora: 15h às 19h   <br/>

Local: TEATRO CUICA – UFT 
</p>
<br/>
<p><strong>OFICINA DE DANÇA CONTEMPORÂNEA <em>PIRANHA</em> COM WAGNER SCHWARTZ (Brasil/França) -  BASEADO NO TRABALHO SOLO DO AUTOR</strong></p>

Através de técnicas de engajamento físico, a oficina PIRANHA trabalha com corpos que se agitam nevralgicamente, entre dinâmicas de movimentos
 voluntários e involuntários. Os exercícios propostos em sala de aula serão direcionados à criação de um estado de presença capaz de 
experienciar seus limites.

<p><strong>Público alvo: Oficina direcionada a bailarinos (público adulto). Os participantes precisam ter conhecimento prévio de dança
 contemporânea.</strong></p>
Carga horária: 2hs. 10 VAGAS – Gratuito.<br/>

Data: 24 de março <br/>

Hora: 10h às 12h <br/>

Local: Sala de Dança Espaço Cultural José Gomes Sobrinho</p><br/>
      </section>
  </div>
{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
