{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
  <link rel="stylesheet" href="/css/programacao.css">
{% endblock %}

{% block content %}

  <h1>Palestras</h1>
  <h3>Palmas - TO</h3>
  <div>
      <section class="tiles">
          <article class="style1" style="width: calc(50% - 2.5em);">
              <span class="image">
                  <img src="/images/carousel/RICARDO.jpg"alt=""/>
              </span>
              <a href="programacao/ricardo"></a>
          </article>
          <article class="style2" style="width: calc(50% - 2.5em);">
              <span class="image">
                  <img src="/images/carousel/SUELY.jpg"alt=""/>
              </span>
              <a href="programacao/suely"></a>
          </article>
      </section>
  </div>
{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
