{% extends '/layout/MainLayout.twig' %}

{% block css_extra %}
  <style>
    .small_line{
      line-height: 20px;      
    }
  </style>
{% endblock %}

{% block content %}
    <h1>Festival Internacional Corpo Expandido</h1>
    <div class="pure-g">
        <div class="pure-u-3-5">
            <p align="justify" class=".small_line">
              O FESTIVAL INTERNACIONAL CORPO EXPANDIDO – <strong>FICE</strong> surge do desejo e necessidade de criar tecido cultural na cidade de Palmas (TO) que abarque a diversidade da produção artística contemporânea, contrastando linguagens, modos de fazer/pensar arte, ao mesmo tempo em que torna esta prática acessível e compreensível ao público.</p>
            <p align="justify" class=".small_line">
              Nossa programação formula um conceito social dentro do qual o domínio cultural é perfilado nos princípios de inovação artística, visibilidade, acessibilidade, mobilidade de espetáculos e encorajamento de participação dentro de uma sociedade multicolorida.
              Apresentando obras e artistas estimulantes da cena local, nacional e internacional, o programa reúne propostas emergentes de criação em dança, teatro e performance, de modo a proporcionar ao público um panorama híbrido e diversificado.
            </p>
            <p align="justify" class=".small_line">
              O eixo central do FICE se coloca na aproximação da prática artística a comunidade, no qual artistas, pesquisadores, estudantes, voluntários e espectadores formam parte integral, seja transitando entre as atividades do festival ou simplesmente desfrutando das propostas inseridas na programação em um formato sensível, festivo e acolhedor.
            </p>
            <p align="justify" class=".small_line">
              Buscamos nutrir a criatividade e o talento promovendo educação, inclusão social, diálogo intercultural em cooperação com países europeus e latino americanos, conquistando novos espectadores e produzindo um impacto econômico e criativo na cidade de Palmas - TO.
            </p>
            <p align="justify" class=".small_line">
              Nossa equipe acredita no potencial transformador, revolucionário e de cura do fazer criativo. Pensamos que agora, mais que nunca, esta iniciativa é extremamente necessária tanto a nível humano como pessoal, tanto em nível coletivo como social. É imprescindível reencontrar o sentido originário da arte e da criação, assim como sua função na sociedade.
            </p>
          </div>
          <div class="pure-u-2-5">
              <img src="/images/cartaz/fice.jpg"alt="" style="margin-left: 10px;margin-top: 79px;"/>
          </div>
    </div>


    <h2>Como Chegar</h2>
    <!-- cuica -->
    <iframe style="width: 33%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1358.48448586311!2d-48.361425586186606!3d-10.176898987410098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9324cafd1c208cab%3A0xf652f0d12be8915!2sCUICA!5e0!3m2!1spt-BR!2sbr!4v1487171008126" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <!-- sesc -->
    <iframe style="width: 33%;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2604.0335056526396!2d-48.32286452090957!3d-10.16123800382201!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9324cb811e053297%3A0xd7eec76aa1ba8312!2sTeatro+Sesc+Palmas!5e0!3m2!1spt-BR!2sbr!4v1487171342271"  height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <!-- Theatro Fernanda Montenegro -->
    <iframe style="width: 33%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10477.591716200794!2d-48.33825929529755!3d-10.196753352237883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9324cb4cf680e6e5%3A0x56312dfe302f298d!2sTeatro+Fernanda+Montenegro!5e0!3m2!1spt-BR!2sus!4v1487171056127"  height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

{% endblock %}

{% block js_extra %}
  <!-- js -->
{% endblock %}
