<footer id="footer" style="background-color: transparent;padding:10px;height:165px">
          <div class="pure-g">
            <div class="pure-u-2-24">
              <p>Organização<p>
              <img type="image/png"  class="pure-img" src="/images/logos/produza.png" style="height: 71px;margin-top: 20px;"/>
            </div>
            <div class="pure-u-2-24">

            </div>
            <div class="pure-u-14-24">
                <p>Apoio Cultural<p>
                <div class="pure-g">
                    <div class="pure-u-3-24" style="padding: 4px">
                    </div>
                    <div class="pure-u-5-24" style="padding: 4px">
                        <img type="image/png"  class="pure-img" src="/images/logos/caixa.png" /> <br/>
                        <img type="image/png"  class="pure-img" src="/images/logos/localiza.png" style="margin-top:23px"/>
                    </div>
                    <div class="pure-u-5-24" style="padding: 4px">
                        <img type="image/png"  class="pure-img" src="/images/logos/crp23.png" style="height: 46px"/> <br/>
                        <img type="image/png"  class="pure-img" src="/images/logos/ubra.png" style="margin-top:4px;height: 51px"/>
                    </div>
                    <div class="pure-u-4-24" style="padding: 4px">
                        <img type="image/jpg"  class="pure-img" src="/images/logos/serreal.jpg" style="height: 49px;" /> <br/>
                        <img type="image/png"  class="pure-img" src="/images/logos/UFTFM.png" style="margin-top:4px;height: 61px"/>
                    </div>
                    <div class="pure-u-4-24" style="padding: 4px">
                        <img type="image/png"  class="pure-img" src="/images/logos/jorima.png" style="height:53px"/> <br/>
                        <img type="image/png"  class="pure-img" src="/images/logos/sesc.png" style="margin-top:4px;height: 45px;"/>
                    </div>
                    <div class="pure-u-3-24" style="padding: 4px">
                        <img type="image/png"  class="pure-img" src="/images/logos/psico.png" style="height: 54px;"/> <br/>
                        <img type="image/png"  class="pure-img" src="/images/logos/faveira.png" style="height: 48px;margin-top: 4px;"/>
                    </div>
                </div>
            </div>

            <div class="pure-u-6-24">
              <p>Realização</p>
              <img type="image/png" src="/images/logos/3-1_premios_e_editais2.png" style="height:90px;">
            </div>
          </div>
</footer>
