<footer id="footer" style="background-color: transparent;padding:10px;height:100px">
    <div style="display:table;width: 100%;margin-bottom:20px">
        <div style="display:table-cell">
            <img type="image/png" src="/images/logos2.png" style="height:62px;float:left"/>
        </div>
        <div style="display:table-cell;float:right">
			<img type="image/png" src="/images/caixa-logo.png"
                 style="height:45px;float:left;margin-right:54px;margin-top:6px"/>
            <img type="image/png" src="/images/logo-UFT-Dist.png"
                 style="height:70px;float:left"/>
            <img type="image/png" src="/images/Logo Sesc.png"
                 style="height:68px;float:left;margin-left:54px;margin-right:54px"/>
            <img type="image/png" src="/images/3-1_premios_e_editais2.png"
                 style="height:70px;float:left"/>
        </div>
    </div>
</footer>
