<footer id="footer" style="background-color: transparent;padding:10px;height:111px">
          <div class="pure-g">
            <div class="pure-u-4-24" style="padding-top: 11px;">
              <img type="image/png" src="/images/logos2.png" style="height:62px;float:left"/>
            </div>
            <div class="pure-u-6-24">

            </div>
            <div class="pure-u-14-24">
              <div class="pure-g">
                    <div class="pure-u-5-24" style=" padding-top: 28px;">
                        <img type="image/png" src="/images/caixa-logo.png" style="height:34px;display:block;margin:auto;" />
                    </div>
                    <div class="pure-u-3-24" style="padding-top: 20px">
                        <img type="image/png" src="/images/logo-UFT-Dist.png" style="height:54px;display:block;margin:auto;" />
                    </div>
                    <div class="pure-u-4-24" style="padding-top: 13px;">
                        <img type="image/png" src="/images/Logo Sesc.png" style="height:50px;display: inline-block;margin-top: 37px;margin:auto;" />
                    </div>
                    <div class="pure-u-12-24">
                        <img type="image/png" src="/images/3-1_premios_e_editais2.png" style="height:90px;">
                    </div>
                </div>
            </div>
          </div>
</footer>
