<header id="header" style="background-color:transparent;height: 4rem;">
    <div id="logo">
        <a href="/" >
            <img src="/images/fice_single.png" style="margin-top: 9px; width:auto; height:50px"/>
        </a>
    </div>
    <div id="navbar" style="color:white">
        <ul class="navigation">
            <li class="">
                <a href="/sobre">
                    Sobre
                </a>
            </li>
            <li class="">
                <a href="expandido">
                    Corpo Expandido
                </a>
            </li>
            <li class="">
                <a href="/convocatoria">
                    Convocatórias
                </a>
            </li>
            <li class="">
                <a href="/programacao">
                    Programação
                </a>
            </li>
            <li class="">
                <a href="/palestras">
                    Palestras
                </a>
            </li>
            <li class="">
                <a href="/oficinas">
                    Oficinas
                </a>
            </li>
            <li class="">
                <a href="/calendario">
                    Calendário
                </a>
            </li>
            <li class="">
                <a href="ingressos">
                    Ingressos
                </a>
            </li>

        </ul>
        <span class="panel-activation sb-toggle-left navbar-left menu-btn fa fa-bars"></span>
    </div>
</header>
