<div class="sb-slidebar sb-left sb-width-thin">
    <div id="panel">
        <ul class="navigation">
            <li class="">
                <a href="/sobre">
                    Sobre
                </a>
            </li>
            <li class="">
                <a href="/programacao">
                    Programação
                </a>
            </li>
            <li class="">
                <a href="/convocatoria">
                    Convocatórias
                </a>
            </li>
        </ul>
    </div>
</div>
