<div class="sb-slidebar sb-left sb-width-thin">
    <div id="panel">
      <ul class="navigation">
          <li class="">
              <a href="/sobre">
                  Sobre
              </a>
          </li>
          <li class="">
              <a href="#">
                  Corpo Expandido
              </a>
          </li>
          <li class="">
              <a href="/convocatoria">
                  Convocatórias
              </a>
          </li>
          <li class="">
              <a href="/programacao">
                  Programação
              </a>
          </li>
          <li class="">
              <a href="/palestras">
                  Palestras
              </a>
          </li>
          <li class="">
              <a href="/oficinas">
                  Oficinas
              </a>
          </li>
          <li class="">
              <a href="#">
                  Calendário
              </a>
          </li>
          <li class="">
              <a href="/convocatoria">
                  Convocatórias
              </a>
          </li>
          <li class="">
              <a href="#">
                  Ingressos
              </a>
          </li>

      </ul>
    </div>
</div>
